---
BasedOnStyle: Google
Language: Cpp

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4

# Line length
ColumnLimit: 120

# Braces
BreakBeforeBraces: Custom

BraceWrapping:
  AfterFunction: true
  AfterClass: false
  AfterStruct: false
  AfterUnion: false
  AfterEnum: false
  AfterNamespace: false
  AfterControlStatement: Never
  AfterCaseLabel: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  IndentBraces: false

# Short statements
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false

# Pointers and references
PointerAlignment: Right
ReferenceAlignment: Right

# Spaces
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Alignment
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: Align
AlignTrailingComments: true

NamespaceIndentation: All

# Switch statements
IndentCaseLabels: true

# Includes
SortIncludes: false

# Empty lines
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

# Miscellaneous
Cpp11BracedListStyle: true
Standard: Latest